<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %d{HH:mm:ss} ：%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.muzi" level="info" />
    <logger name="com.muzi.mapper" level="debug" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>